nav {
  width: 100%;
  height: 70px;
  display: flex;
}

.navbar-left {
  width: 50%;
  background: #A5774E;
}

.user-img {
  padding: 10px 0px 0px 20px;
}

.navbar-right {
  width: 50%;
  background: #A5774E;
}

ul {
  display: flex;
  list-style: none;
  background: #A5774E;
  justify-content: space-evenly;
}

ul li {
  display: block;
  position: relative;
}

ul li a {
  display: block;
  padding: 20px 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

ul li ul.dropdown1 li {
  display: block;
}

ul li ul.dropdown {
  width: 200%;
  background: rgb(188, 120, 11);
  position: absolute;
  z-index: 999;
  display: none;
}

ul li a:hover {
  background: rgb(188, 120, 11);
}

ul li:hover ul.dropdown {
  display: block;
}

header {
  background: palegoldenrod;
  height: 581px;
  background-image: url(../image/photo_2023-09-26_12-16-04.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  align-items: center;
}

.bg-img {
  color: white;
  background: rgba(228, 153, 14, 0.269);
  -webkit-backdrop-filter: 1px;
          backdrop-filter: 1px;
  width: 800px;
  height: 500px;
  border-radius: 10px;
}
.bg-img h1 {
  font-size: 90px;
  padding: 20px;
}
.bg-img .user-quote p {
  font-size: 20px;
  padding: 20px;
  font-style: italic;
}
.bg-img .user-quote {
  width: 350px;
}
.bg-img .user-time p {
  font-size: 30px;
  padding: 20px;
}
.bg-img .user-info p {
  font-size: 30px;
  padding: 20px;
}

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

header {
  background: palegoldenrod;
  height: 581px;
  background-image: url(../image/photo_2023-09-26_12-16-04.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  align-items: center;
}

.bg-img {
  color: white;
  background: rgba(228, 153, 14, 0.269);
  -webkit-backdrop-filter: 1px;
          backdrop-filter: 1px;
  width: 800px;
  height: 500px;
  border-radius: 10px;
}
.bg-img h1 {
  font-size: 90px;
  padding: 20px;
}
.bg-img .user-quote p {
  font-size: 20px;
  padding: 20px;
  font-style: italic;
}
.bg-img .user-quote {
  width: 350px;
}
.bg-img .user-time p {
  font-size: 30px;
  padding: 20px;
}
.bg-img .user-info p {
  font-size: 30px;
  padding: 20px;
}

.about-us {
  background-image: url(/image/about-us.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.about-us h1 {
  background-color: rgba(0, 0, 0, 0.729);
  color: white;
  width: 15%;
  padding: 10px;
  border-radius: 0 0 20px 0;
}
.about-us .about {
  background-color: rgba(255, 166, 0, 0.51);
  width: 600px;
  height: 320px;
  margin: 100px 0 0 0;
  border-radius: 0 20px 20px 0;
}
.about-us .about .mission,
.about-us .about .vision {
  color: white;
  padding: 40px 25px 0 40px;
}
.about-us .about .mission p,
.about-us .about .vision p {
  padding: 5px;
}
.about-us .about .mission p span,
.about-us .about .vision p span {
  color: black;
}

.video {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.gym-wieg {
  background: orange;
  height: 730px;
  margin-top: 20px;
}

.wieg {
  width: 20px;
  height: 120px;
}

.image {
  height: 452px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  height: 500px;
  margin-top: 35px;
}

.man,
.woman {
  background: black;
  color: white;
  font-size: 30px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 20px 0px 0px;
}

.man {
  border-radius: 20px 0px 0px 0px;
}

.infor {
  background: rgba(0, 0, 0, 0.31);
  height: 140px;
}

.infor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.infor > p {
  font-size: 25px;
  color: white;
  display: flex;
  justify-content: center;
  width: 90%;
}

.wieg > h1 {
  background: #000;
  height: 80px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  border-radius: 0px 0px 20px 0px;
}

.yuga {
  background-color: orange;
  height: 600px;
  width: 100%;
  margin-top: 20px;
}

.yuga h1 {
  background-color: black;
  width: 10%;
  padding: 10px;
  border-radius: 0 0 20px 0;
}

.yuga h1,
p {
  color: white;
}

.infromation {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.infromation p {
  text-align: center;
  font-size: 25px;
  text-align: justify;
}

.yuga-first,
.yuga-last {
  display: flex;
  justify-content: center;
}

.yoga1,
.yoga2,
.yoga3,
.yoga4 {
  width: 300px;
  height: 200px;
  margin: 10px;
}

.running {
  display: flex;
  justify-content: center;
  background-color: rgb(199, 218, 218);
  height: 100vh;
  margin-top: 10px;
}

.running-left {
  width: 50%;
  background-repeat: repeat;
  background-size: cover;
}

.running-right {
  display: flex;
  gap: 70px;
  flex-direction: column;
  background-color: orange;
  width: 50%;
  font: 1.6em sans-serif;
  color: white;
}

.running-right > .top {
  display: flex;
}

.running-right > .top > .top-left {
  flex: 3;
}

.running-right > .top > .top-right {
  background: rgba(0, 0, 0, 0.6156862745);
  align-items: end;
  height: 8vh;
  width: 30%;
  text-align: center;
  border-radius: 0px 0px 0px 10px;
}

.running-right > .contant {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.contant > h1 > span {
  color: black;
}

.contant-card {
  display: flex;
  flex-direction: row;
}

.running-right > .contant-card {
  display: flex;
  justify-content: space-evenly;
  color: black;
}

.contant-card > .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card > span {
  border-radius: 50%;
  border: 2px solid;
}

.card > p {
  color: black;
}/*# sourceMappingURL=main.css.map */