@import "./components/navbar";

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header {
    background: palegoldenrod;
    height: 581px;
    background-image: url(../image/photo_2023-09-26_12-16-04.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    align-items: center;
}

.bg-img {
    color: white;
    background: rgba(228, 153, 14, 0.269);
    backdrop-filter: 1px;
    width: 800px;
    height: 500px;
    border-radius: 10px;

    h1 {
        font-size: 90px;
        padding: 20px;
    }

    .user-quote p {
        font-size: 20px;
        padding: 20px;
        font-style: italic;

    }

    .user-quote {
        width: 350px;
    }

    .user-time p {
        font-size: 30px;
        padding: 20px;
    }

    .user-info p {
        font-size: 30px;
        padding: 20px;
    }

}

// Channy
.about-us {
    background-image: url(/image/about-us.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

    h1 {
        background-color: rgba(0, 0, 0, 0.729);
        color: white;
        width: 15%;
        padding: 10px;
        border-radius: 0 0 20px 0;
    }

    .about {
        background-color: rgba(255, 166, 0, 0.51);
        width: 600px;
        height: 320px;
        margin: 100px 0 0 0;
        border-radius: 0 20px 20px 0;

        .mission,
        .vision {
            color: white;
            padding: 40px 25px 0 40px;

            p {
                padding: 5px;

                span {
                    color: black;
                }
            }
        }
    }
}


// <....kadin....>
.video {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

// <..cha..>
.gym-wieg {
    background: orange;
    height: 730px;
    margin-top: 20px;
}

.wieg {
    width: 20px;
    height: 120px;
}

.image {
    height: 452px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card {
    width: 300px;
    height: 500px;
    margin-top: 35px;
}

.man,
.woman {
    background: black;
    color: white;
    font-size: 30px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 20px 0px 0px;
}

.man {
    border-radius: 20px 0px 0px 0px;
}

.infor {
    background: rgba(0, 0, 0, 0.31);
    height: 140px;
}

.infor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infor>p {
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
    width: 90%;
}

.wieg>h1 {
    background: #000;
    height: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-radius: 0px 0px 20px 0px;
}

// -channy-
.yuga {
    background-color: orange;
    height: 600px;
    width: 100%;
    margin-top: 20px;
}

.yuga h1 {
    background-color: black;
    width: 10%;
    padding: 10px;
    border-radius: 0 0 20px 0;
}

.yuga h1,
p {
    color: white;
}

.infromation {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.infromation p {
    text-align: center;
    font-size: 25px;
    text-align: justify;

}

.yuga-first,
.yuga-last {
    display: flex;
    justify-content: center;
}

.yoga1,
.yoga2,
.yoga3,
.yoga4 {
    width: 300px;
    height: 200px;
    margin: 10px;
}

// kadin
.running {
    display: flex;
    justify-content: center;
    background-color: rgb(199, 218, 218);
    height: 100vh;
    margin-top: 10px;
}
.running-left {
    width: 50%;
    background-repeat: repeat;
    background-size: cover;
}

.running-right {
    display: flex;
    gap: 70px;
    flex-direction: column;
    background-color: orange;
    width: 50%;
    font: 1.6em sans-serif;
    color: white;
}

.running-right>.top {
    display: flex;
}

.running-right>.top>.top-left {
    flex: 3;
}

.running-right>.top>.top-right {
    background: #0000009d;
    align-items: end;
    height: 8vh;
    width: 30%;
    text-align: center;
    border-radius: 0px 0px 0px 10px;
}

.running-right>.contant {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.contant>h1>span {
    color: black;
}

.contant-card {
    display: flex;
    flex-direction: row;
}

.running-right>.contant-card {
    display: flex;
    justify-content: space-evenly;
    color: black;
}

.contant-card>.card {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card>span {
    border-radius: 50%;
    border: 2px solid;
}

.card>p {
    color: black;
}

// <.cha..>
.battle-ropes {
    background: orange;
    height: 650px;
    margin-top: 20px;
}

.spt-battle1 {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: end;
}

.battle {
    background: #000;
    color: white;
    width: 250px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 0px 20px;

}

.spt-battle2 {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.user-box {
    display: flex;
    justify-content: center;
    width: 70%;
    gap: 20px;
}

.box {
    width: 80%;
    height: 350px;

}

.picture {
    height: 280px;
}

.para1 {
    background: rgb(192, 199, 192);
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    height: 70px;
    padding-top: 40px;
    border-radius: 0px 0px 10px 10px;
}

.para1>.material-icons {
    font-size: 50px;
}

.para1 p {
    color: #000;
}

.picture>img {
    width: 318px;
    height: 300px;
    border-radius: 10px 10px 0px 0px;
}

.spt-battle3 {
    height: 120px;
    width: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.battle3 {
    display: flex;
    width: 90%;
}

// channy
.volleyball {
    background-color: orange;
    width: 100%;
    height: 600px;
    margin-top: 20px;
}

.volleyball h1 {
    background-color: rgb(0, 0, 0);
    color: white;
    width: 15%;
    padding: 10px;
    border-radius: 0 0 20px 0;
}

.volleyball-oficons {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.card1,
.card2,
.card3 {
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card1>.material-icons,
.card2>.material-icons,
.card3>.material-icons {
    font-size: 300%;
    color: white;
}

.volleyball1,
.volleyball2,
.volleyball3 {
    width: 300px;
    margin-top: 20px;
}

.card1 p,
.card2 p,
.card3 p {
    font-size: 30px;
    padding: 35px;
    text-align: center;
    color: #000;
}
// kadin.........
.sporrt-Tennis{
    background-color:orange;
    height: 100vh;
    
}

.Tennis-top{
    width: 20px;
    height:auto;
}
.Tennis-top>h1{
    background: #0000009f;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 30vh;
    border-radius: 0px 0px 10px 0px;
}
.Tennis-center>p{
    font-size: 25px;
    color: black;
    display: flex;
    justify-content: center;
    width: 90%;
}
   

.Tennis-center{
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sport-image{
   
    display: flex;
    justify-content: center;
}
.sport-img{
    display: flex;
    gap: 60px;
}
.tennis-footer{
   display: flex;
   justify-content:space-evenly;
   padding: 15px;
  
  
    
}
.tennis-icon1>span{
    display: flex;
    justify-content: center;
    background-color: rgb(189, 201, 201);
    width: 15%;
    height: 8vh;
    border-radius: 80%;
    align-items: center;
    
}
.tennis-footer>.tennis-icon1{
    display: flex;
    flex-direction: column;
    align-items: center;
}