@import "./components/navbar";
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
header{
    background:palegoldenrod;
    height: 581px;
    background-image: url(../image/photo_2023-09-26_12-16-04.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:right ;
    display: flex;
    align-items: center;
}
.bg-img{
    color: white;
    background: rgba(228, 153, 14, 0.269);
    backdrop-filter:1px;
    width: 800px;
    height: 500px;
    border-radius: 10px;
    h1{
        font-size: 90px;
        padding: 20px;
    }
    .user-quote p{
        font-size:20px;
        padding: 20px;
        font-style: italic;
       
    }
    .user-quote{
        width:350px;
    }
    .user-time p{
        font-size: 30px;
        padding: 20px;
    }
    .user-info p{
        font-size: 30px;
        padding: 20px;
    }
<<<<<<< HEAD

}
=======
    
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======

>>>>>>> a36a8eaa4abbab1c979f128c32b30a628394e975
// Channy
.about-us{
    background-image: url(/image/about-us.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    h1{
        background-color: rgba(0, 0, 0, 0.729);
        color: white;
        width: 15%;
        padding: 10px;
        border-radius: 0 0 20px 0;
    }
    .about{
        background-color: rgba(255, 166, 0, 0.51);
        width: 600px;
        height: 320px;
        margin:100px 0 0 0;
        border-radius: 0 20px 20px 0;
        .mission ,.vision{
            color: white;
            padding:  40px 25px 0 40px;
            p{
                padding: 5px;
                span{
                    color: black;
                }
            }
        }
    }
}
<<<<<<< HEAD
=======
>>>>>>> 5cc20b9f1a7f8008e3b8d7f42495b506fed7b3e8
>>>>>>> a36a8eaa4abbab1c979f128c32b30a628394e975
>>>>>>> 3421553e2268277bf93f916dce6afb921a75845a
