$orange-color:orange;
$black-color:black;
$blacklight-color:rgba(0, 0, 0, 0.51);
$white-color:white;
$palegoldenrod:palegoldenrod;
$whitelight-color:rgba(213, 210, 201, 0.269);
$orangelight-color: #A5774E;
$coffeelight-color:rgba(225, 165, 55, 0.804);
$blue-color:rgb(24, 24, 161);
$valuetwety:20px
